html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}
body {
  font-family: 'Lato', sans-serif;
  background-size: cover;
  margin: 0;
  
  position: relative;
}
/*HEADER     ----------------------------------------------------------------------------------------------------------------------*/
.page-title {
  text-align: center;
  font-weight: 100;
}
.headerimg {
  max-height: 10%;
  max-width: 10%;
}
.menuimg {
  width: 30px;
  height: 30px;
}
.homepicnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dropbtn {
    background-color: #ffffff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1; text-decoration: none;}
.dropdown:hover .dropbtn {
    background-color: #f1f1f1; text-decoration: none;
}	
.lineone {
  background-color: #000000;
}
/*JUMBOTRON     ----------------------------------------------------------------------------------------------------------------------*/
.page-jumbotron {
background-image:  url("pat9.png");
background-size: contain;


  text-align: center;
  font-weight: 100;
  background-color: #ffffff;	
}
.homepic {
padding: 15px;

  max-height: 80%;
  max-width: 80%;
}
/*BODYSPCE ----------------------------------------------------------------------------------------------------------------------

.bodyspace {
  text-align: center;
  font-weight: 100;
  background-color: #000000;
  display: flex;
  font-size: 12px;
  color: #ffffff;
}





/*Projectsmenu ----------------------------------------------------------------------------------------------------------------------*/
.list-inline {
	
	margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 50px;
	

	
}
.list-inline a{
	color : #AEAEAE;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	padding-bottom: 7px;
	text-decoration: none;
}
.menall {
	border-color: orange;
}
.menmake{
	border-color: blue;
}
.menentrep{
	border-color: red;
}
.menplay {
	border-color: green;
}
.list-inline a:hover {
	font-size: 99%;
	color: #8B8B8B;
	border-top-style: solid;
	border-top-width: 3px;
	padding-top: 7px;
	text-decoration: none;
}
.menall:hover {
	border-color: orange;
}
.menmake:hover {
	border-color: blue;
}
.menentrep:hover {
	border-color: red;
}
.menplay:hover {
	border-color: green;
}
.list-inline a:focus {
	color : #AEAEAE;
	border-top-style: solid;
	border-top-width: 3px;
	padding-top: 7px;
	text-decoration: none;
	outline: none;
	
}
.menall:focus {
	border-color: orange;
}
.menmake:focus {
	border-color: blue;
}
.menentrep:focus {
	border-color: red;
}
.menplay:focus {
	border-color: green;
}

/* Projects ---------------------------------------------------------------------------------------------------------------------------*/

.projpics .row .col-sm-4  p {
	text-align: center;
	color: #8B8B8B;
	margin-top: 5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.projpics .row .col-md-4 {
  margin: 0 0 30px;
  background-color: #f1f1f1;
}


/* Personal and Professional ---------------------------------------------------------------------------------------------------------------------------*/


.Professional p {
	text-align: center;
	color: #8B8B8B;
	margin-top: 5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

.Professional img {
	width: 80%;
}
.Personal img {
	width: 80%;
}
.mainhead{
	
	text-align: center;
}
.mainhead img{
	
	max-width: 50%;
	max-height: 50%;
	
}

.Personal img{
	padding: 15px;;
}

.Professional img{
	padding: 15px;
}
.Personal p {
	text-align: center;
	color: #8B8B8B;
	margin-top: 5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.projpics .row .col-md-4 {
  margin: 0 0 30px;
  background-color: #f1f1f1;
}



/* Media ---------------------------------------------------------------------------------------------------------------------------*/
.mainheadmedia{
	
background-image:  url("pat9.png");
text-align: center;
font-size: 50px;
color: #000000;

}
.mainbodymedia{
	


}
.Media{
	background-color: #ffffff;
	padding: 15px;
}
.mainheadmedia p{
	margin-top: 10px;
	color: #000000;
	background-color:#ffffff;

}
.Media .row .col-sm-4 p{
	text-align: center;
	color: #000000;
	margin-top: 3px;
    font-weight: 700;
    font-size: 12px;
}
/* CONTACT ---------------------------------------------------------------------------------------------------------------------------*/
.contact {
  text-align: center;
  justify-content: center;
  font-weight: 100;
  color: #000000;

 /*  background-color: #215348;	
*/
background-image:  url("indian-patterns.gif");
background-size: contain;
  display: flex;
  font-size: 12px;
  color: #ffffff;
}
.transbox {
	opacity: 0.85;
    filter: alpha(opacity=85);
}
.contact p{
	margin-top: 10px;
	color: #000000;
	background-color:#ffffff;

}
/* FOOTER NAVIGATION ---------------------------------------------------------------------------------------------------------------------------*/
footer .row {
	margin: 20;
  display: flex;
  align-items: center;
}
footer {
  font-size: 12px;
  padding: 20px 0;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
footer ul {
  list-style: none;
}
footer li img {
  width: 32px;
  height: 32px;
}

